<h1>Tweeters</h1>
  <div class="center jumbotron"> 
  
    <h1>Follow us on Tweeters!</h1>
    <p>"We're going to get lots of disciples, dear"</p>
    <%# <a href="#" class="btn btn-lg btn-primary">Sign up now!</a> %>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  
  </div>


<div class="container">
    <h2>This App supports:</h2>
    <ul>
    <li>User signups</li>
    <li>User Authentication</li>
    <li>Tagging of posts</li>
    <li>Following other users on the system</li>
    </ul>

    <h2>It was written in</h2>
    <ul>
    <li>Ruby on Rails</li>
    </ul>

    <h2>It uses these other techs:</h2>
    <ul>
    <li>PostgreSQL</li>
    <li>Linux</li>
    <li>JavaScript</li>
    <li>Bootstrap</li>
    </ul>
</div>
