<h1>Tweeters</h1>
  <div class="center jumbotron"> 
  
    <p>Follow us on Tweeters</p>
    <p>We're going to get lots of disciples, dear.</p>

    <h2>This App supports:</h2>
    <ul>
    <li>User signups</li>
    <li>User Authentication</li>
    <li>Tagging of posts</li>
    <li>Following other users on the system</li>
    </ul>

    <h2>It was written in</h2>
    <ul>
    <li>Ruby on Rails</li>
    </ul>

    <h2>It uses these other techs:</h2>
    <ul>
    <li>PostgreSQL</li>
    <li>Linux</li>
    <li>JavaScript</li>
    <li>Bootstrap</li>
    </ul>
  
  </div>
